.idea/
__pycache__/
*.pyc
*.pyd
dist/
build/
src/pyrpa.egg-info
pyrpa/pyrpa/t.py
*.json
t.py
src/pyrpa/.mypy_cache
src/.mypy_cache
*.egg-info
.tox
.idea
__pycache__
.coverage
.coverage.*
htmlcov
venv
dist
.pytest_cache
.mypy_cache
build
site
*.gv
*.png
.DS_Store
t.sh